@using System.Globalization
@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent
@inject IMBEnvironment MBEnvironment
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a onclick="@ToggleLanguage">@MBEnvironment.CurrentCulture.TwoLetterISOLanguageName</a>
        @DateTime.Today.ToShortDateString()
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions
{

    void ToggleLanguage()
    {
        MBEnvironment.CurrentCulture = CultureInfo.GetCultureInfo("it-IT");
        StateHasChanged();
    }

}
